body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    
    /* font-family: 'Ubuntu'!important; */
    font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  margin-bottom: 0px;
    font-size: 18px;
}

.content{
  padding: 2px 35px;
}

.header-section{
  background-color: #292940;
}

.contact-section{
  background-color: #29292c;
  padding-bottom: 15px;
  padding-top: 15px;
}

.first-name{
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  color: whitesmoke;
}

.current-position{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  color: whitesmoke;
}

.abt-dsc{
  font-size: 18px;
  margin-bottom: 25px;
  color: white;
}

.contact-section-data{
  font-size: 18px;
  color: white;
  margin: 5px 0px;
}

.all-content-section{
  background-color: white;
  padding-bottom: 15px;
  padding-top: 15px;
}

h5 span{
  border-bottom: 4px solid;
}

h5+.company-name {
  margin-top: -8px;
}

.working-dates{
  font-size: 14px;
  font-weight: 600;
  color: brown;
}

.project-name{
  font-weight: 600;
}
.company-sections{
  margin-bottom: 25px;
}

.project-details{
  font-size: 16px;
}

.company-name{
  font-weight: 500;
}

.skills-data{
  padding: 5px;
  background: #514f68b8;
  line-height: 35px;
  border-radius: 10px;
  margin: 5px;
  color: white;
}

p .badge{
  margin: 4px 4px;
    font-size: 15px;
    font-weight: 400;
}

.intrest-data{
  border: 1px solid;
  color: black;
}

.lang-data{
  margin-bottom: 8px;
}

.a4-page-size{
  max-height: 1100px;
  overflow: hidden
}

.a4-page-size2{
  margin-top: 0px;
  overflow: hidden
}

.second-page{
  margin-top: 20px;
}

.comany-des{
  margin-top: 15px;
}

img{
  margin-top: -5px;
}